#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gifContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.gif{
  margin: 1rem;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s;
}
.gif img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gifForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.gifForm input{
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
  transition: all 0.25s;
}
.gifForm input:focus{
  border: 1px solid #000;
}
.gifForm button{
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
  transition: all 0.25s;
  cursor: pointer;
  margin-top: 1rem;
}
.gifForm button:hover{
  border: 1px solid #000;
}

.favBtn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: all 0.25s;
  transform: translate(230px,-70px);
  display: flex;
  justify-content: center;
  align-items: center;

}
